<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <img class="img-responsive logo" src="~/img/White_Logo Transparent.png" />
                <div class="position-sticky pt-3">
                    <br />
                    <img class="img-circle center-block" id="profile-image" src="~/img/Dollarblob.jpg" />
                    <div class="text-center text-uppercase">
                        <p style="font-weight: bolder;">Martin Lopez</p>
                    </div>
                    <div class="text-center">Manager</div>
                    <ul class="nav flex-row nav-justified">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Profile")">
                                <span data-feather="user"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span data-feather="mail"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <span data-feather="message-circle"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="position-sticky pt-3">
                    <p style="font-weight: bolder">Menu</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")">
                                <span data-feather="monitor"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Transaction")">
                                <span data-feather="credit-card"></span>
                                Opret handel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >
                                <span data-feather="bar-chart"></span>
                                Overblik
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            @RenderBody()

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dashboard")
    @RenderSection("scripts", required: false)
</body>
</html>
